<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../CSS/aboutUs.css" />
    <link rel="stylesheet" href="../CSS/aboutUsFeedback.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>

  <body>
    <div id="loadingAnimation"></div>
    <section class="sec1">
      <div class="container">
        <h2 class="mainTitle">Get to Know Us!</h2>
        <div class="content">
          <div class="image">
            <img src="images/aboutUs1.jpg" alt="" />
          </div>
          <div class="textBox">
            <h3>lorem ipsum</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
              ipsam culpa officia id quo quis nobis modi excepturi dolorum omnis
              sint dolorem, quaerat temporibus totam, quidem error quam unde
              iure!
            </p>
          </div>
        </div>
        <div class="goDown">
          <img src="images/goDown.gif" alt="" />
        </div>
      </div>
    </section>

    <section class="sec2">
      <div class="container">
        <h3 class="sectionTitle">Our Story...</h3>
        <div class="content">
          <div class="image">
            <img src="images/aboutUs2.jpg" alt="" />
          </div>
          <div class="info">
            <h5 class="infoTitle">
              Nothing much! Just a fun project for a course in bachelors!
            </h5>
          </div>
        </div>
      </div>
    </section>

    <section class="sec3">
      <div class="container">
        <h3 class="sectionTitle">Meet Our Team!</h3>
        <div class="content">
          <div class="member">
            <div class="image">
              <img src="images/fahim.jpg" alt="Fahim Wayez" />
            </div>
            <div class="details">
              <p>Fahim Wayez</p>
              <p>
                <a href="https://github.com/FahimWayez"
                  ><i class="fa-brands fa-github"></i> Fahim Wayez</a
                >
              </p>
              <p>fahimwayez@gmail.com</p>
            </div>
          </div>
          <div class="member">
            <div class="image">
              <img src="images/rahat.jpg" alt="Hasnain Rahat" />
            </div>
            <div class="details">
              <p>Hasnain Rahat</p>
              <p>
                <a href="https://github.com/Resnikk"
                  ><i class="fa-brands fa-github"></i> Hasnain Rahat</a
                >
              </p>
              <p>rjofbd@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sec4" id="sec4">
      <div class="container">
        <h3 class="sectionTitle">Contact Us</h3>
        <div class="content">
          <div class="mediaInfo">
            <li>
              <a href="https://facebook.com"
                ><i class="fa-brands fa-facebook"></i> Facebook</a
              >
            </li>
            <li>
              <a href="https://instagram.com"
                ><i class="fa-solid fa-phone"></i> Contact</a
              >
            </li>
            <li>
              <a href="https://github.com/FahimWayez/jadubook"
                ><i class="fa-brands fa-github"></i> GitHub</a
              >
            </li>
            <li>
              <a href="https://instagram.com"
                ><i class="fa-solid fa-envelope"></i> Mail</a
              >
            </li>
            <li>
              <a href="https://instagram.com"
                ><i class="fa-brands fa-instagram"></i> Instagram</a
              >
            </li>
          </div>
          <div class="image">
            <video src="images/aboutUs3.mp4" autoplay muted loop></video>
          </div>
        </div>
      </div>
    </section>

    <section class="sec5" id="sec5">
      <div class="wrapper">
        <header>Feel free to send a message!</header>
        <form action="#">
          <div class="dblField">
            <div class="field">
              <input type="text" name="name" placeholder="Enter your name" />
              <i class="fa-solid fa-user"></i>
            </div>
          </div>
          <div class="dblField">
            <div class="field">
              <input type="text" name="phone" placeholder="Enter your phone" />
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="field">
              <input type="text" name="email" placeholder="Enter your email" />
              <i class="fa-solid fa-envelope"></i>
            </div>
          </div>
          <div class="message">
            <textarea
              placeholder="Write your message"
              name="message"
            ></textarea>
            <i class="fa-solid fa-message"></i>
          </div>
          <div class="buttonArea">
            <button type="submit">Send Message</button>
            <span></span>
          </div>
        </form>
      </div>
    </section>

    <script src="../JS/aboutUs.js" ;></script>
    <script src="../JS/loadingAnimation.js"></script>
    <script src="../JS/aboutUsFeedback.js"></script>
  </body>
</html>
