<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore - JaduBook</title>
    <link rel="stylesheet" href="../CSS/exploreStyles.css" />
  </head>

  <body>
    <div id="loadingAnimation"></div>
    <section class="home">
      <video
        class="videoSlide active"
        src="images/3.mp4"
        autoplay
        muted
        loop
      ></video>
      <div class="darkOverlay"></div>
      <h1 align="center">Explore</h1>
      <div class="content">
        <p class="header" align="left">
          <b>Listen to the Echoes of Prose</b><br /><br />
        </p>
        <p align="justify" class="textBody">
          For those who love the spoken word, our library boasts a symphony of
          voices. Our audio books breathe life into stories, allowing you to
          savor the prose through your headphones, whether you're on your daily
          commute, taking a stroll, or simply wanting to close your eyes and
          immerse yourself.
        </p>
      </div>

      <div class="content">
        <p class="header" align="right">
          <b>Witness Stories Unfold</b><br /><br />
        </p>
        <p align="justify" class="textBody">
          But we don't stop at the written word or spoken verse. We transcend
          traditional storytelling by adding a visual dimension to our
          narratives. Videos and animations complement the plot, enriching your
          journey in unexpected ways.
        </p>
      </div>

      <div class="content">
        <p class="header" align="left">
          <b>The Power of Community</b><br /><br />
        </p>
        <p align="justify" class="textBody">
          Join a vibrant community of fellow explorers, writers, and artists.
          Share your thoughts, create your stories, and engage in discussions.
          Your creativity knows no bounds here.
        </p>
      </div>

      <div class="content">
        <p class="header" align="right">
          <b>Your Journey Begins</b><br /><br />
        </p>
        <p align="justify" class="textBody">
          So, why wait? Begin your journey through the pages, audio waves, and
          visual realms. With every story you engage with, you step into a world
          of wonder, one where your imagination knows no bounds. Welcome to our
          storytelling sanctuary. Your adventure begins now.
        </p>
      </div>

      <div class="content">
        <a href="javascript:void(0);" onclick="goBack()">Back to Home</a>
        <!-- <button onclick="goBack()">Back to Home</button> -->
      </div>
    </section>

    <script src="../JS/goBack.js"></script>
    <script src="../JS/loadingAnimation.js"></script>
  </body>
</html>
