<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FAQs</title>
    <link rel="stylesheet" href="../CSS/faqs.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <a href=""
        ><video
          class="logo"
          src="Images/logo.mp4"
          muted
          autoplay
          id="logoVideo"
        ></video
      ></a>
      <a href="" class="brand">Frequently Asked Questions</a>
      <div class="menuButton"></div>
    </header>
    <section class="home">
      <img src="Images/faqs.jpg" alt="" class="bgPic" id="bgPic" />
      <div class="darkOverlay"></div>
      <div class="wrapper">
        <div class="faq">
          <div class="question">
            <h3>What services does the platform offer?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path
                d="M4 4L21 21L39 3"
                stroke="white"
                stroke-width="7"
                stroke
                linecap="round"
              />
            </svg>
          </div>

          <div class="answer">
            <p>
              JaduBook offers a diverse range of services, including the ability
              to read books online, listen to audiobooks, and watch video
              content related to books.
            </p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <h3>How do I access books on the platform?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path
                d="M4 4L21 21L39 3"
                stroke="white"
                stroke-width="7"
                stroke
                linecap="round"
              />
            </svg>
          </div>

          <div class="answer">
            <p>
              To access books, simply login, and browse our library. Click on
              the desired book to start enjoying the content.
            </p>
          </div>
        </div>
        <div class="faq">
          <div class="question">
            <h3>Is there a limit to the number of books I can access?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path
                d="M4 4L21 21L39 3"
                stroke="white"
                stroke-width="7"
                stroke
                linecap="round"
              />
            </svg>
          </div>

          <div class="answer">
            <p>
              NO!<br /><br />
              We offer all the books just for free.
            </p>
          </div>
        </div>
        <div class="faq">
          <div class="question">
            <h3>Can I use the platform on different devices?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path
                d="M4 4L21 21L39 3"
                stroke="white"
                stroke-width="7"
                stroke
                linecap="round"
              />
            </svg>
          </div>

          <div class="answer">
            <p>
              Yes, JaduBook is designed to be accessible on various devices.
              Whether you prefer reading on your computer, listening on your
              smartphone, or watching videos on your tablet, you can enjoy our
              content anywhere.
            </p>
          </div>
        </div>
        <div class="faq">
          <div class="question">
            <h3>Can I download videos for offline viewing?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path
                d="M4 4L21 21L39 3"
                stroke="white"
                stroke-width="7"
                stroke
                linecap="round"
              />
            </svg>
          </div>

          <div class="answer">
            <p>
              Yes, JaduBook allows you to download videos for offline viewing.
              In the video, in the bottom right corner, there is a three dot
              sign. If you click it, there are several options including
              downloading the video, playback speed control, picture in picture
              format.
            </p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <h3>How can I provide feedback or report issues?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path
                d="M4 4L21 21L39 3"
                stroke="white"
                stroke-width="7"
                stroke
                linecap="round"
              />
            </svg>
          </div>

          <div class="answer">
            <p>
              We welcome your feedback! You can contact us from
              <a href="aboutUs.html#sec4">here</a> or visit the
              <a href="aboutUs.html#sec5">feedback section</a>
              to share your thoughts, report issues, or suggest improvements.
              Your input is valuable in making our platform better.
            </p>
          </div>
        </div>
      </div>
    </section>
    <script src="../JS/faqs.js" defer></script>
  </body>
</html>
