<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JaduBook</title>
    <link rel="stylesheet" href="../CSS/landingPageStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header>
        <a href=""><video class="logo" src="Images/logo.mp4" muted autoplay id="logoVideo"></video></a>
        <!-- <a href="" class="brand"><img src='images/brandImage.png' alt="" width="500px"></a> -->
        <a href="" class="brand">JaduBook</a>
        <p class="motto">Welcome to a magical world!</p>
        <div class="menuButton"></div>
        <div class="navigation">
            <div class="navigationItems">
                <a href="http://127.0.0.1/jadubook.com/View/">Home</a>
                <a href="http://127.0.0.1/jadubook.com/View/aboutUs.html">About Us</a>
                <a href="http://127.0.0.1/jadubook.com/View/faqs.html">FAQs</a>
                <a href="http://127.0.0.1/jadubook.com/View/loginReg.html">Login/Register</a>
            </div>
        </div>
    </header>

    <section class="home">
        <video class="videoSlide active" src="images/1.mp4" autoplay muted loop></video>
        <div class="darkOverlay"></div>
        <video class="videoSlide" src="images/2.mp4" autoplay muted loop></video>
        <div class="darkOverlay"></div>


        <div class="content active">
            <h1 class="RLWH1">Read! Listen! Watch!</h1>
            <p align="justify">Welcome to our imaginative reading platform, where books come alive!<br><br>Explore a
                diverse library of
                books that offer not only the joy of reading but also the immersive experience of listening to audio
                books. Dive deeper as videos and animations enrich the narratives. Join our creative community, share
                your stories, and embark on a limitless adventure through words, sounds, and visuals.<br><br> Your
                journey begins now in this storytelling sanctury!
            </p>
            <a href="" id="exploreLink">Explore!</a> <!-- Ekhane basically about us ke redirect kore dibo-->
        </div>

        <div class="content">
            <h1 class="exploreH1">Explore! </h1>
            <p align="justify"><b>Welcome to a world of Imagination!</b></b><br><br>
                Dive into the realm of books like never before. Our platform is your portal to a universe of
                boundless imagination, where words come to life, and narratives unfold in extraordinary
                ways.<br><br><b>Unveil the Power of Words</b><br><br>Each book is a doorway to adventure, knowledge,
                and
                wonder. With a simple click you can lose yourself in captivating tales span genres, cultures,
                and emotions. But we are not just about reading; we are about experiencing books in every sense.
                </b>
            </p>
            <a href="explore.html">Read More</a>
        </div>

        <div class="mediaIcons">
            <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/FahimWayez/jadubook"><i class="fa-brands fa-github"></i></a>            
        </div>

        <div class="sliderNavigation">
            <div class="navButton active"></div>
            <div class="navButton"></div>
        </div>
    </section>

    <script src="../JS/landingPageScript.js"></script>
    <script src="../JS/loadingAnimation.js"></script>
</body>



</html>